header{
    background-color:  #404040;
    padding: 18px;
    font-size: 18px;
    font-family: 'Lexend Zetta', sans-serif;
}

main{
    background-color:  #FFFFFF;
}

.letras{
    color: #202020;
    font-family: 'Ubuntu', sans-serif;
}

button{
    background-color: #F2F56A;
    border-radius: 5px;
    border-color: #F2F56A;
    width: 250px;
    font-size: 25px;
}
@media(max-width: 748px){
    button{
        width: 60%;
    }
}


.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .recuadro {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    margin-top: 80px;
  }
  
  .swiper-container {
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

a{
    text-decoration: none;
}

#remisesnorte {
    height: 30vh;
}

#libertad{
    height: 250px;
}

#formulario{
    width: 60%;
    margin: 0 auto;
}

.form-floating{
    margin-bottom: 2%;
}