<%- include('../partials/header')  %>

    <main>

      <div class="album py-5 bg-body-tertiary">
        <div class="container" id="recuadro">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Juan Rodríguez</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Marío García</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Carlos López</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Alejandro Pérez</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Luis González</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Sergio Ramírez</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">Lucas Martínez</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="card-title">José Hernández</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/transparent-icon-design-5e9514e3e94e76.6287660515868285159556.jpg" alt="" height="225">
                <div class="card-body">
                  <h5 class="">Diego Torres</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"class="boton">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </main>


    <script src="/js/tarjeta.js"></script>
    <%- include('../partials/footer')  %>