<%- include('../partials/header')  %>
    <main>
  <div class="container">
    <div class="recuadro">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
           <a href="/menu/menu-choferes/monte-carlo/index.html"><div class="card">
              <img src="/menu/img/FB_IMG_1662809057492.jpg" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Monte Carlo</h5>
              </div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="/menu/menu-choferes/napoleon/index.html"><div class="card">
              <img src="/menu/img/screen-0.jpg" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Napoleon</h5>
              </div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="/menu/menu-choferes/libertad/index.html"><div class="card">
              <img src="/menu/img/libertadfoto1galeria.webp" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Libertad</h5>
              </div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="/menu/menu-choferes/cruz-del-norte/index.html"><div class="card">
              <img src="/menu/img/descarga.jpeg" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Cruz del Norte</h5>
              </div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="/menu/menu-choferes/fontana/index.html"><div class="card">
              <img src="/menu/img/radiotaxiyremises.jpg-131.jpeg" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Fontana</h5>
              </div></a>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="/menu/menu-choferes/litur/index.html"><div class="card">
              <img src="/menu/img/image.png" class="card-img-top" height="200">
              <div class="card-body">
                <h5 class="card-title">Remises Litur</h5>
              </div></a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</main>


    <%- include('../partials/footer')  %>
