header{
    background-color:  #404040;
    padding: 18px;
    font-size: 18px;
    font-family: 'Lexend Zetta', sans-serif;
}

main{
    background-color:  #FFFFFF;
}

.letras{
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #F2F56A;
    border-radius: 5px;
    border-color: #F2F56A;
}

#formulario{
    width: 60%;
}

.form-floating{
    margin-bottom: 2%;
}

.btn{
    background-color:  #404040;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-family: 'Ubuntu', sans-serif;
}

#remisesnorte {
    height: 30vh;
}

#libertad{
    height: 250px;
}